@model IEnumerable<TelefonRehberi.DATA.Entities.Calisan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Calisan Listesi</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Calisan Adi</th>
                    <th>Calisan Soyadi</th>
                    <th>Calisan Telefonu</th>
                    <th>Calisan Departmani</th>
                    <th>Calisan Yetkisi</th>
                    <th>Calisan Islemleri</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var calisanDetayConcrete = new TelefonRehberi.BLL.Repository.Concrete.CalisanDetayConcrete();
                    var calisanConcrete = new TelefonRehberi.BLL.Repository.Concrete.CalisanConcrete();
                    foreach (var item in Model)
                    {
                        var calisanDetay = calisanDetayConcrete._calisanDetayRepository.GetById(item.CalisanID);
                <tr>
                    @if (calisanDetayConcrete._calisanDetayRepository.GetById(item.CalisanID) != null)
                    {
                        <td><a href="@Url.Action("CalisanDetayi","Calisan",new { id = item.CalisanID})">@item.CalisanAdi</a></td>
                    }
                    else
                    {
                        <td><span>@item.CalisanAdi</span></td>
                    }
                    <td>@item.CalisanSoyadi</td>
                    <td>@item.Telefon</td>
                    @{

                        if (calisanDetay == null)
                        {
                            <td>-</td>
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.CalisanDetay.Departman.DepartmanAdi</td>
                            if (item.UstCalisan == null)
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td>@item.UstCalisan.CalisanAdi</td>

                            }
                        }
                    }
                    <td>
                        @if (calisanDetayConcrete._calisanDetayRepository.GetById(item.CalisanID) == null)
                        {
                            <a href="@Url.Action("CalisanDuzenle","Calisan",new { id = item.CalisanID})" class="btn btn-info">Calisan Detay Ekle</a>
                        }
                        else
                        {
                            <a href="@Url.Action("CalisanDuzenle","Calisan",new { id = item.CalisanID})" class="btn btn-info">Duzenle</a>
                        }

                        @if (!calisanConcrete.DoesEmployeeHaveSubordinate(item))
                        {
                            <a href="@Url.Action("CalisanSil","Calisan",new { id = item.CalisanID})" class="btn btn-danger">Sil</a>
                        }
                        else
                        {
                            <input type="button" class="btn btn-default" value="Silinemez" />
                        }

                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
        <a style="float:right" href="@Url.Action("CalisanEkle","Calisan")" class="btn btn-success">Calisan Ekle</a>
    </div>
</div>


